<h1>{{titulo}}</h1>

<div>
  <form [formGroup]="clienteForm" (submit)="clienteSubmit()">
    <div class="form-group">
      <label for="formGroupExampleInput">FindById</label>
      <input type="text" [(ngModel)]="id" formControlName="id" class="form-control">
    </div>
    <div >
      <label>Cliente</label>
      <input type="text" [(ngModel)]="nome" formControlName="nome" class="form-control">
    </div>
    <br>
    <div class="row">
      <button class="btn btn-success" [disabled]="!clienteForm.valid" (click)="SubmitCliente()">Calcular</button>
    </div>
  </form>



</div>


